* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primaryGreen: #156064;
    --white: #ffffff;
    --orange: #F76726;
    --secondaryGreen: #4CA1A6;
    --primaryGray: #666666;
    --secondaryGray: #808080;
    --darkGreen: #128C93;
    --secondary-orange: #F79468;
    --greenTint2: #7FC0C4;
    --greenTint4: #D8F1F3;
}

h1 {
    font-size: 48px !important;
}

.btn-outline-green {
    background-color: transparent;
    border: 1px solid var(--primaryGreen);
    color: var(--primaryGreen);
}

.btn-outline-green:focus-visible {
    outline: none;
}

.btn-outline-green:hover {
    background-color: var(--greenTint4);
}

.btn-outline-green:active {
    background-color: var(--greenTint2);
}

.text-orange {
    color: var(--orange);
}

.text-green {
    color: var(--secondaryGreen);
}

.text-gray {
    color: var(--primaryGray);
}

.text-gray-secondary {
    color: var(--secondaryGray);
}

.text-orange-secondary {
    color: var(--secondary-orange);
}

.fs-15 {
    font-size: 1.15rem;
}

.w-60 {
    width: 53%;
}

.btn-orange {
    background-color: var(--orange);
    color: var(--white);
}

.btn-orange:hover {
    background-color: rgb(226, 93, 31);
}

#about-us {
    background-color: var(--secondaryGreen);
}

.expert {
    background-color: var(--darkGreen);
}

.pointer {
    cursor: pointer;
}

.border-radius {
    border-radius: 1rem;
}

.btn-close:focus-visible {
    outline: none;
}

.fs-btn {
    font-size: 0.8rem;
}

/* Hand style */
.w-hand {
    top: 5em;
    right: 0em;
}
/* End of hand styling */

@media (max-width: 767px) {
    .border-radius {
        border-radius: 0rem;
    }
}

@media (max-width: 769px) {
    .w-60 {
        width: 100%;
    }
}